@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-creme: #FEF9EE;
  --wisdom-red: #C10100;
  --color-color: #0000b2;
  --color-color: #005cb2;
  --color-bg: #005cb266;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

